@import './colors'

body
  margin: 0
  padding: 0
  font-family: 'Roboto', sans-serif
  // min-width: 1440px

header
  display: flex
  flex-direction: column
  margin: 0
  height: 100vh
  background-color: $white

  .home__nav-bar
    display: flex
    justify-content: space-between
    &__wrraper-logo
      display: flex
      align-items: center
      margin: 25px
      &__logo-icon
        width: 44px
        height: 44px
        img 
          width: 44px
          height: 44px
      &__logo-text
        display: flex
        flex-direction: column
        align-items: center
        margin-top: -15px
        margin-left: 5px
        h1 
          margin-bottom: -5px
          font-size: 30px
          color: $black
          font-weight: normal
        p 
          margin-top: -2px
          font-size: 10px
          color: $black
    &__menu
      display: flex
      &__nav
        display: flex
        align-items: center
        a 
          margin: 10px
          text-decoration: none
          color: $black
          font-size: 18px
    &__phone
      display: flex
      align-items: center
      a 
        text-decoration: none
        font-size: 25px
        margin: 25px
        color: $dark-pink
      // h1 
      //   font-size: 25px
      //   margin: 25px
      //   color: $dark-pink

  .home-content
    display: flex
    align-items: center
    &__text
      display: flex
      flex-direction: column
      align-items: center
      margin-top: 250px
      width: 50%
      p 
        color: $black
        font-size: 15px
        margin-top: 10px
        margin-bottom: 30px
      &__cactus
        display: flex
        flex-direction: column
        h1 
          font-size: 50px
          color: $black
          margin-top: 0
      &__button
        button
          width: 350px
          height: 80px
          background-color: $dark-pink
          border-radius: 35px
          border-color: $dark-pink
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.150)
          color: $white
          font-size: 30px
          font-weight: bold
        // button:hover 
        //   box-shadow: 0 5px 15px 0 $dark-pink inset, 0 5px 15px 0 $dark-pink, 0 5px 15px 0 $dark-pink inset, 0 5px 15px 0 $dark-pink
    &__img 
      overflow: hidden
      width: 600px
      height: 600px
      background: url(../img/flower.jpg) no-repeat center center / cover

  .wrraper-home-content__text__cactus
    display: flex
    flex-direction: column
    width: 470px
    p 
      font-size: 50px
      color: $black
      margin-bottom: 0
      margin-top: 0
      span 
        color: $dark-pink
        margin-right: 5px

@media screen and (max-width: 320px)
  header
    .home
      &__nav-bar
        &__wrraper-logo
          margin: 20px
          &__logo-icon
            width: 33px
            height: 33px
            img 
              width: 33px
              height: 33px
          &__logo-text
            h1 
              font-size: 20px
              margin-top: 15px
            p 
              font-size: 7px
              margin-top: 0px
        &__menu
          &__nav 
            display: none 
        &__phone
          display: none
    .home-content
      flex-direction: column-reverse
      &__text
        margin-top: 0
        width: 100%
        p 
          font-size: 9px
          margin-top: 10px
        &__button
          button 
            width: 170px
            height: 40px
            font-size: 15px
      &__img
        width: 100%
        height: 300px
        margin-bottom: 10px
    .wrraper-home-content__text__cactus
      width: 100%
      p
        font-size: 20px
        margin-top: 0

@media screen and (min-device-width: 320px) and (max-device-width: 480px)
  header
    .home
      &__nav-bar
        &__wrraper-logo
          margin: 20px
          &__logo-icon
            width: 44px
            height: 44px
            img 
              width: 44px
              height: 44px
          &__logo-text
            h1 
              font-size: 22px
              margin-top: 15px
            p 
              font-size: 9px
              margin-top: 0px
        &__menu
          &__nav 
            display: none 
        &__phone
          display: none
      .home-content
        flex-direction: column-reverse
        &__text
          margin-top: 0
          width: 100%
          p 
            font-size: 9px
            margin-top: 10px
          &__button
            button 
              width: 170px
              height: 40px
              font-size: 15px
        &__img
          width: 100%
          height: 350px
          margin-bottom: 10px
      .wrraper-home-content__text__cactus
        width: 100%
        p
          font-size: 20px
          margin-top: 0

@media screen and (min-device-width: 768px) and (max-device-width: 1024px)
  header 
    .home
      &__nav-bar
        &__wrraper-logo
          &__logo-icon
          &__logo-text
        &__menu
          display: none
          &__nav
            &__link
        &__phone
          display: none
      .home-content
        &__text
          width: 60%
          height: 80%
          margin-top: 200px
          p 
            font-size: 11px
          &__cactus
            width: 290px
            p 
              font-size: 30px
            .wrraper-home-content__text__cactus
          &__button
            button 
              width: 330px
              height: 70px
              border-radius: 30px
        &__img
          width: 40%
          height: 550px
          // height: 80%
          img
            width: 550px
            height: 550px


.advantages
  display: flex
  flex-direction: column
  margin: 0
  height: 100vh
  background-color: $white
  justify-content: space-around
  &__content
    display: flex
    flex-direction: column
    justify-content: space-around
    width: 100%
    height: 90%
    &__button
      display: flex
      justify-content: center
      button
        width: 280px
        height: 60px
        background-color: $dark-pink
        border-radius: 30px
        border-color: $dark-pink
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.150)
        color: $white
        font-size: 20px
        font-weight: bold
      // button:hover 
      //   box-shadow: 0 5px 15px 0 $dark-pink inset, 0 5px 15px 0 $dark-pink, 0 5px 15px 0 $dark-pink inset, 0 5px 15px 0 $dark-pink
    &__name 
      display: flex
      justify-content: center
      flex-direction: column
      h1
        display: flex
        justify-content: center
        color: $black
        font-size: 25px
        text-transform: uppercase
      &__icon
        display: flex
        align-items: center
        justify-content: center
        hr 
          width: 50px
          height: 0.2px
          background-color: $black 
          border-color: $black
          margin: 20px
        img
          width: 30px
          height: 30px
    &__items
      display: flex
      justify-content: space-around
      &__content
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        width: 250px
        height: 250px
        background-color: $dark-pink
        border-color: $dark-pink
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.150)
        &:nth-child(2), &:nth-child(4)
          background-color: $light-pink
        img 
          width: 60px
          height: 60px
        h1 
          color: $black
          font-size: 20px
          margin-bottom: 0
        p 
          color: $black
          font-size: 12px
          text-align: center
    &__text
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      p 
        color: $black
        text-align: center
        font-size: 17px
      hr 
        width: 1020px
        height: 0.2px
        background-color: $black 
        border-color: $black
        margin: 20px

@media screen and (max-width: 320px)
  .advantages
    &__content
      &__name
        h1 
          font-size: 10px
        &__icon
          hr 
            height: 1px
            border: none
            width: 30px
          img 
            width: 20px
            height: 20px
      &__items
        flex-wrap: wrap
        &__content
          margin: 10px
          width: 130px
          height: 130px
          img 
            width: 40px
            height: 40px
          h1 
            font-size: 10px
          p 
            font-size: 5px
      &__text
        p 
          // font-size: 5px
          display: none;
        hr 
          width: 250px
          height: 1px
          border: none 
      &__button
        button
          width: 170px
          height: 40px
          font-size: 15px

@media screen and (min-device-width: 320px) and (max-device-width: 480px)
  .advantages
    &__content
      &__name
        h1 
          font-size: 15px
        &__icon
          hr 
            height: 1px
            border: none
            width: 40px
          img 
            width: 25px
            height: 25px
      &__items
        // flex-wrap: wrap
        display: grid
        grid-template-columns: 1fr 1fr
        justify-items: center 
        &__content
          margin: 10px
          width: 130px
          height: 130px
          img 
            width: 40px
            height: 40px
          h1 
            font-size: 12px
          p 
            font-size: 6px
      &__text
        p 
          // font-size: 7px
          display: none;
        hr 
          width: 280px
          height: 1px
          border: none 
      &__button
        button
          width: 170px
          height: 40px
          font-size: 15px

@media screen and (min-device-width: 768px) and (max-device-width: 1024px)
  .advantages 
    &__content
      &__name
        h1 
          font-size: 20px
        &__icon
          img 
            width: 30px
            height: 30px
          hr 
            width: 40px
      &__items
        display: grid
        grid-template-columns: 1fr 1fr 
        justify-items: center
        &__content
          width: 200px
          height: 200px
          margin: 10px
          img 
            width: 50px
            height: 50px
          h1 
            font-size: 15px
          p 
            font-size: 11px
      &__text
        p 
          // font-size: 12px
          display: none
        hr 
          // width: 700px
          display: none
      &__button
        margin: 20px
        // border-color: $dark-pink

.about
  height: 100vh
  background-color: $white
  margin: 0
  &__content
    display: flex
    &__img
      img 
        width: 530px
        margin-left: 80px
    &__text
      display: flex
      flex-direction: column
      align-items: center
      justify-content: space-around
      width: 50%
      margin-left: 80px
      &__name-page
        display: flex
        flex-direction: column
        align-items: center
        h1
          color: $black 
          font-size: 25px
          text-transform: uppercase
        &__img
          display: flex
          align-items: center
          justify-content: center
          hr 
            width: 50px
            height: 0.2px
            background-color: $black
            border-color: $black 
            margin: 20px
          img 
            width: 30px
            height: 30px
      &__main-text
        display: flex
        flex-direction: column
        h1 
          text-align: center
          color: $black 
          font-size: 17px
        p 
          text-align: center
          color: $black 
          font-size: 17px
      &__button
        button
          width: 280px
          height: 60px
          background-color: $dark-pink
          border-color: $dark-pink 
          border-radius: 30px
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.150)
          color: $white
          font-size: 20px
          font-weight: bold
        // button:hover 
        //   box-shadow: 0 5px 15px 0 $dark-pink inset, 0 5px 15px 0 $dark-pink, 0 5px 15px 0 $dark-pink inset, 0 5px 15px 0 $dark-pink

@media screen and (max-width: 320px)
  .about
    &__content
      height: 100%
      &__img
        display: none
      &__text
        width: 100%
        margin-left: 0
        h1 
          font-size: 10px
        &__name-page
          &__img 
            hr 
              width: 30px
              border: none
              height: 1px
            img 
              width: 20px
              height: 20px
        &__main-text
          h1 
            font-size: 15px
          p 
            font-size: 10px
        &__button 
          button
            width: 170px
            height: 40px
            font-size: 15px

@media screen and (min-device-width: 320px) and (max-device-width: 480px)
  .about
    &__content
      height: 100%
      &__img
        display: none
      &__text
        width: 100%
        margin-left: 0
        h1 
          font-size: 15px
        &__name-page
          &__img 
            hr 
              width: 40px
              border: none
              height: 1px
            img 
              width: 25px
              height: 25px
        &__main-text
          h1 
            font-size: 17px
          p 
            font-size: 12px
        &__button 
          button
            width: 170px
            height: 40px
            font-size: 15px

@media screen and (min-device-width: 768px) and (max-device-width: 1024px)
  .about
    &__content
      justify-content: center
      &__img
        display: none
      &__text
        margin-left: 0
        width: 100%
        height: 100%
        &__name-page
          margin: 15px
          h1 
            font-size: 20px
          &__img
            img 
              width: 30px
              height: 30px
            hr 
              width: 40px
        &__main-text
          margin: 30px
          h1 
            font-size: 19px
          p 
            font-size: 19px

.services
  display: flex
  align-items: center
  justify-content: center
  height: 100vh
  background-color: $white
  margin: 0
  .modal-window-nail
    opacity: 0
    width: 0
    height: 0
    overflow: hidden
    span 
      display: flex
      align-items: center
      justify-content: center
      position: absolute
      top: 0
      left: 0
      width: 70px
      height: 70px
      background-color: $dark-pink
      img
        width: 50px
        height: 50px
    &_open
      display: flex
      align-items: center
      justify-content: flex-start
      position: fixed
      top: 5%
      width: 90%
      height: 90%
      background-color: $dark-pink
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.150)
      opacity: 1
      transition: 0.3s ease
    &__img
      display: flex
      width: 50%
      height: 100%
      background: url(../img/price-nails.jpeg) no-repeat center center / cover 
      img 
        width: 100%
        height: 100%   
    &__content
      display: flex
      flex-direction: column
      align-items: center
      width: 50%
      h2 
        font-size: 18px
        color: $white
      &__text
        display: flex
        justify-content: space-around
        width: 100%
        &__name
          h2 
            font-weight: bold
            font-size: 18px
            color: $white
          ul 
            margin: 0
            padding: 0
          li
            list-style-type: none
            margin-bottom: 10px
            font-size: 18px
            color: $white
        &__cost
          h2
            font-weight: bold
            font-size: 18px
            color: $white
          ul 
            margin: 0
            padding: 0
          li
            list-style-type: none
            margin-bottom: 10px
            font-size: 18px
            color: $white
  .modal-window-makeup
    opacity: 0
    width: 0
    height: 0
    overflow: hidden
    span 
      display: flex
      align-items: center
      justify-content: center
      position: absolute
      top: 0
      left: 0
      width: 70px
      height: 70px
      background-color: $dark-pink
      img
        width: 50px
        height: 50px
    &_open
      display: flex
      align-items: center
      justify-content: flex-start
      position: fixed
      top: 5%
      width: 90%
      height: 90%
      background-color: $dark-pink
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.150)
      opacity: 1
      transition: 0.3s ease 
    &__img
      display: flex
      width: 50%
      height: 100%
      background: url(../img/price-makeup.png) no-repeat center center / cover 
      img 
        width: 100%
        height: 100% 
    &__content
      display: flex
      flex-direction: column
      align-items: center
      width: 50%
      h2 
        font-size: 18px
        color: $white
      &__text
        display: flex
        justify-content: space-around
        width: 100%
        &__name
          h2 
            font-weight: bold
            font-size: 18px
            color: $white
          ul 
            margin: 0
            padding: 0
          li
            list-style-type: none
            margin-bottom: 10px
            font-size: 18px
            color: $white
        &__cost
          h2
            font-weight: bold
            font-size: 18px
            color: $white
          ul 
            margin: 0
            padding: 0
          li
            list-style-type: none
            margin-bottom: 10px
            font-size: 18px
            color: $white
  .modal-window-eyebrows
    opacity: 0
    width: 0
    height: 0
    overflow: hidden
    span 
      display: flex
      align-items: center
      justify-content: center
      position: absolute
      top: 0
      left: 0
      width: 70px
      height: 70px
      background-color: $dark-pink
      img
        width: 50px
        height: 50px
    &_open
      display: flex
      align-items: center
      justify-content: flex-start
      position: fixed
      top: 5%
      width: 90%
      height: 90%
      background-color: $dark-pink 
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.150)
      opacity: 1
      transition: 0.3s ease
    &__img
      display: flex
      width: 50%
      height: 100%
      background: url(../img/price-eyelash.jpeg) no-repeat center center / cover 
      img 
        width: 100%
        height: 100%
    &__content
      display: flex
      flex-direction: column
      align-items: center
      width: 50%
      h2 
        font-size: 18px
        color: $white
      &__text
        display: flex
        justify-content: space-around
        width: 100%
        &__name
          h2 
            font-weight: bold
            font-size: 18px
            color: $white
          ul 
            margin: 0
            padding: 0
          li
            list-style-type: none
            margin-bottom: 10px
            font-size: 18px
            color: $white
        &__cost
          h2
            font-weight: bold
            font-size: 18px
            color: $white
          ul 
            margin: 0
            padding: 0
          li
            list-style-type: none
            margin-bottom: 10px
            font-size: 18px
            color: $white
  .modal-window-cosmetology
    opacity: 0
    width: 0
    height: 0
    overflow: hidden
    span 
      display: flex
      align-items: center
      justify-content: center
      position: absolute
      top: 0
      left: 0
      width: 70px
      height: 70px
      background-color: $dark-pink
      img
        width: 50px
        height: 50px
    &_open
      display: flex
      align-items: center
      justify-content: flex-start
      position: fixed
      top: 5%
      width: 90%
      height: 90%
      background-color: $dark-pink
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.150)
      opacity: 1
      transition: 0.3s ease
    &__img
      display: flex
      width: 50%
      height: 100%
      background: url(../img/price-cosmetologi.jpeg) no-repeat center center / cover 
      img 
        width: 100%
        height: 100%
    &__content
      display: flex
      flex-direction: column
      align-items: center
      width: 50%
      h2 
        font-size: 18px
        color: $white
      &__text
        display: flex
        justify-content: space-around
        width: 100%
        &__name
          h2 
            font-weight: bold
            font-size: 18px
            color: $white
          ul 
            margin: 0
            padding: 0
          li
            list-style-type: none
            margin-bottom: 10px
            font-size: 18px
            color: $white
        &__cost
          h2
            font-weight: bold
            font-size: 18px
            color: $white
          ul 
            margin: 0
            padding: 0
          li
            list-style-type: none
            margin-bottom: 10px
            font-size: 18px
            color: $white
  .modal-window-hair
    opacity: 0
    width: 0
    height: 0
    overflow: hidden
    span 
      display: flex
      align-items: center
      justify-content: center
      position: absolute
      top: 0
      left: 0
      width: 70px
      height: 70px
      background-color: $dark-pink
      img
        width: 50px
        height: 50px
    &_open
      display: flex
      align-items: center
      justify-content: flex-start
      position: fixed
      top: 5%
      width: 90%
      height: 90%
      background-color: $dark-pink 
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.150)
      opacity: 1
      transition: 0.3s ease
    &__img
      display: flex
      width: 50%
      height: 100%
      background: url(../img/price-hair.jpeg) no-repeat center center / cover 
      img
        width: 100%
        height: auto
    &__content
      display: flex
      flex-direction: column
      align-items: center
      width: 50%
      h2
        font-size: 18px
        color: $white
      &__text
        display: flex
        justify-content: space-around
        width: 100%
        &__name
          h2
            font-weight: bold
            font-size: 18px
            color: $white
          ul
            margin: 0
            padding: 0
          li
            list-style-type: none
            margin-bottom: 10px
            font-size: 18px
            color: $white
        &__cost
          h2
            font-weight: bold
            font-size: 18px
            color: $white
          ul
            margin: 0
            padding: 0
          li
            list-style-type: none
            margin-bottom: 10px
            font-size: 18px
            color: $white
  .modal-window-depilation
    opacity: 0
    width: 0
    height: 0
    overflow: hidden
    span 
      display: flex
      align-items: center
      justify-content: center
      position: absolute
      top: 0
      left: 0
      width: 70px
      height: 70px
      background-color: $dark-pink
      img
        width: 50px
        height: 50px
    &_open
      display: flex
      align-items: center
      justify-content: flex-start
      position: fixed
      top: 5%
      width: 90%
      height: 90%
      background-color: $dark-pink
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.150)
      opacity: 1
      transition: 0.3s ease
    &__img
      display: flex
      width: 50%
      height: 100%
      background: url(../img/price-depilation.jpeg) no-repeat center center / cover 
      img
        width: 100%
        height: auto
    &__content
      display: flex
      flex-direction: column
      align-items: center
      width: 50%
      h2
        font-size: 18px
        color: $white
      &__text
        display: flex
        justify-content: space-around
        width: 100%
        &__name
          h2
            font-weight: bold
            font-size: 18px
            color: $white
          ul
            margin: 0
            padding: 0
          li
            list-style-type: none
            margin-bottom: 10px
            font-size: 18px
            color: $white
        &__cost
          h2
            font-weight: bold
            font-size: 18px
            color: $white
          ul
            margin: 0
            padding: 0
          li
            list-style-type: none
            margin-bottom: 10px
            font-size: 18px
            color: $white
  &__content
    display: flex
    flex-direction: column
    span
      display: flex
      align-items: center
      justify-content: center
      text-transform: uppercase
      font-size: 25px
      width: 100%
      height: 25px
      margin: 0
      margin-bottom: 10px
      font-weight: bold
    &__items
      display: flex
      width: 100%
      #services-content_img_1, #services-content_img_2, #services-content_img_3
        background-color: $light-pink
      &-content
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-around
        width: 270px
        height: 270px
        background-color: $white
        margin: 30px
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.150)
        &__name
          h1
            font-size: 20px
        &__img
          display: flex
          align-items: center
          justify-content: center
          width: 55px
          height: 55px
          background-color: $dark-pink
          border-radius: 50%
          img 
            width: 60px
            height: 60px
        &__button
          button
            width: 140px
            height: 30px
            background-color: $dark-pink
            border-color: $dark-pink
            border-radius: 15px
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.150)
            color: $white 
            font-size: 13px
            font-weight: bold
            margin: 0

@media screen and (max-width: 320px)
  .services
    .modal-window-nail, 
    .modal-window-makeup, 
    .modal-window-eyebrows, 
    .modal-window-cosmetology, 
    .modal-window-hair, 
    .modal-window-depilation
      span 
        width: 50px
        height: 50px
        img 
          width: 25px
          height: 25px
      &_open
        justify-content: center
      &__img 
        display: none
      &__content
        h2 
          font-size: 12px
        &__text
          width: 150%
          &__name
            h2 
              font-size: 10px
            li 
              font-size: 10px
          &__cost
            h2 
              font-size: 10px
            li 
              font-size: 10px

    &__content
      flex-direction: row
      &__items
        flex-direction: column
      &__items-content
        width: 130px
        height: 130px
        margin: 10px
        // flex-wrap: wrap
        &__name
          h1 
            font-size: 10px
        &__img
          width: 35px
          height: 35px
          img 
            width: 40px
            height: 40px
        &__button 
          button 
            width: 70px
            height: 15px
            font-size: 5px

@media screen and (min-device-width: 320px) and (max-device-width: 480px)
  .services
    .modal-window-nail, 
    .modal-window-makeup, 
    .modal-window-eyebrows, 
    .modal-window-cosmetology, 
    .modal-window-hair, 
    .modal-window-depilation
      span 
        width: 50px
        height: 50px
        img 
          width: 25px
          height: 25px
      &_open
        justify-content: center
      &__img 
        display: none
      &__content
        h2 
          font-size: 15px
        &__text
          width: 150%
          &__name
            h2 
              font-size: 12px
            li 
              font-size: 12px
          &__cost
            h2 
              font-size: 12px
            li 
              font-size: 12px
    &__content
      flex-direction: row
      span 
        // font-size: 15px
        display: none
      &__items
        flex-direction: column
      &__items-content
        width: 140px
        height: 140px
        margin: 10px
        // flex-wrap: wrap
        &__name
          h1 
            font-size: 12px
        &__img
          width: 35px
          height: 35px
          img 
            width: 40px
            height: 40px
        &__button 
          button 
            width: 70px
            height: 15px
            font-size: 7px

@media screen and (min-device-width: 768px) and (max-device-width: 1024px)
  .services
    .modal-window-nail, 
    .modal-window-makeup, 
    .modal-window-eyebrows, 
    .modal-window-cosmetology, 
    .modal-window-hair, 
    .modal-window-depilation
      span 
        width: 60px
        height: 60px
        img 
          width: 35px
          height: 35px
      &__content
        h2 
          font-size: 15px
        &__text
          &__name
            h2 
              font-size: 15px
            li 
              font-size: 15px
          &__cost
            h2 
              font-size: 15px
            li 
              font-size: 15px
    &__content
      span 
        font-size: 20px
      &__items
      &__items-content
        width: 220px
        height: 220px
        margin: 18px
        &__name
          h1 
            font-size: 15px
        &__img 
          width: 45px
          height: 45px
          img 
            width: 50px
            height: 50px
        &__button

footer 
  height: 30vh
  display: flex
  justify-content: space-around
  background-color: $dark-pink
  .footer
    h1 
      font-size: 15px
      color: $white
      margin-top: 50px
    p 
      font-size: 15px
      color: $white
      margin: 0
    &__media 
      img
        width: 25px
        height: 25px
        margin: 5px

@media screen and (max-width: 320px)
  footer 
    .footer 
      h1 
        font-size: 7px
      p 
        font-size: 7px
      &__media 
        img 
          width: 15px
          height: 15px

@media screen and (min-device-width: 320px) and (max-device-width: 480px)
  footer 
    height: 25vh
    .footer 
      h1 
        font-size: 9px
      p 
        font-size: 9px
      &__media 
        img 
          width: 17px
          height: 17px 

@media screen and (min-device-width: 768px) and (max-device-width: 1024px)
  footer 
    .footer 
      h1 
        font-size: 11px
      p 
        font-size: 11px
      &__media 
        img 
          width: 20px
          height: 20px 